<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Witch</title>
    <link rel="stylesheet" href="/static/styles.css"> </head>
<body>
<header>
    <h1>Roll Witch</h1>
    <p>Roll Witch is a simple dice roller. It can roll any number of dice with any number of sides, and can add or subtract a modifier.</p>
</header>

<main>
<section>
    {% if output %}
        <article>
        {% if output.error %}
            <h3>Error</h3>
            <p class="error">{{ output.error }}</p>
        {% endif %}
        <div><h3>{{ output.roller }}</h3><span>{{ output.request }}</span></div>
        <div><h3>Result</h3><span class="{{output.met_target}}">{{ output.total }} {{ output.target }}{{output.met_target}}</span></div>
        <h3>Breakdown</h3>
        <table>
            <tr>
                <th>Total</th>
                <th>Dice Rolled</th>
                <th>Result</th>
            </tr>
        {% for roll in output.rolls %}
            <tr>
                <td>{{ roll.total }}</td>
                <td>{{ roll.rolled }}</td>
                <td>{{ roll.result }}</td>
            </tr>
        {% endfor %}
        </table>
        </article>
    {% endif %}
<article>
    <form action="/roll" method="post">
        <fieldset>
            <legend>What would you like to Roll now?</legend>
            <label for="roll_type">Roll Type</label>
            <select id="roll_type" name="roll_type">
                <option selected="selected" value="!r">Standard</option>
                <option value="!sr">Shadow Run</option>
            </select>
            <br/>
            <label for="roll_operation">Roll Operation</label>
            <input type="text" id="roll_operation" name="roll_operation" required>
            <br/>
            <label for="target">Target Number</label>
            <input type="text" id="roll_target" name="roll_target">
            <br/>
            <button type="submit">Roll</button>
        </fieldset>
    </form>
</article>
</section>

<aside>
    <img src="/static/witch.png" alt="Roll Witch">
</aside>
</main>
</body>
</html>
